*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild

/backend/src/main/webapp/WEB-INF/service-credentials.json
app/release

*.keystore